
.market-movers {
  h2 {
    text-align: center;
  }

  .winners, .losers {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin: 5px 0;
      span {
        &.positive {
          color: green;
        }
        &.negative {
          color: red;
        }
      }
    }
  }
}
